#home-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.display-1, .lead {
  float: inline-start;
  color: white;
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  height: fit-content;
  width: 100%;
  color: white;
  padding: 15px 15px 0 15px;
  margin: 0 10px;
  border-radius: 5px;
  background-color: var(--bs-gray-800);
  box-shadow: 0 3px 10px var(--bs-black);
}

.tab-content, .nav-pills {
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: var(--bs-nav-pills-link-active-color);
  background-color: var(--bs-success);
}

.nav-pills .nav-link {
  color: var(--bs-success);
}

.form-check {
  margin-top: 0.5rem;
}

.form-check-input {
  height: 1rem;
  width: 1rem;
  margin-top: 0.4rem;
}

.form-check-label {
  font-size: 0.9rem !important;
}

#equalizer {
  background: url("../../../public/equalizer_clear.gif") no-repeat;
  background-position: center;
  background-size: contain;
  width: 100px;
  height: 100px;
  margin-top: 0;
}

form .mb-3, form button {
  width: 100%;
}

#youtube-url {
  padding: 0.375rem;
  font-size: smaller;
  border-radius: 0.25rem;
  background-color: var(--bs-gray-600);
  border: none;
  border-bottom: solid 2px var(--bs-gray-500);
}

input[type="text"]::-webkit-input-placeholder {
  color: white;
}

@media (max-width: 768px) {

#home-container {
  padding: 0 10px;
}

}